.prevNext{
    font-weight: 800;
}
.prevNextDisable{
    color:#ccc;
}
.elementsList{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.ideaChallengeBox{
    border: 1px solid #E9EDF4;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    gap:14px
}
.ideaChallengeBox div:first-child{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}
.ideaChallengeBox div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ideaChallengeBox div:nth-child(2){
    flex:1;
}
.ideaChallengeBox div:nth-child(2) h3{
    width: 100%;
    overflow: hidden;
    height: 26px;
    font-size: 20px;
    color: #4E4E4E;
}
.ideaChallengeBox div:nth-child(2) p{
    color: #4E4E4E;
    font-size: 14px;
}
.ideaChallengeBox div:last-child{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
}
.ideaChallengeBox div:last-child span{
    position: absolute;
    font-size: 14px;
    color: #4E4E4E;
    background: #8f8f8f;
    font-weight: 500;
    top: -25px;
    right: -9px;
    border-radius: 0 14px;
    padding: 5px 10px;
}
.ideaChallengeBox div:last-child p{
    font-weight: 500;
    color: #4E4E4E;
    padding-top: 15px;
    font-size: 14px;
}